@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<body class="appear-animate" style="background-color:white">



    <main id="main">


        <!-- Head Section -->
        <section class="page-section bg-dark-alfa-50 parallax-3" data-background="/images/Homepage/contact3.jpg">
            <div class="relative container align-left">

                <div class="row">

                    <div class="col-md-8">
                        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Forgotpassword</h1>
                        <div class="hs-line-4 font-alt">
                            Please accept our invitation to become a member of our website.
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Head Section -->
        <section class="page-section">
            <div class="container relative">

         
<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
            </div>
        </section>
</main>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
