@{
    ViewData["Title"] = "About Page";
}

<body class="appear-animate" style="background-color:white">



    <main id="main">


        <!-- Head Section -->
        <section class="page-section bg-dark-alfa-50 parallax-3" data-background="/images/Homepage/product3.jpg">

            <div class="relative container align-left">

                <div class="row">

                    <div class="col-md-8">
                        <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">ABOUT US</h1>
                        
                    </div>

                   
                </div>

            </div>
        </section>
        <!-- End Head Section -->
        <!-- About Section -->
        <section class="page-section" id="about">
            <div class="container relative">

                <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                    About DARK HOUSE SHOP 
                </h2>

                <div class="section-text mb-50 mb-sm-20">
                    <div class="container">
                        <p>
                            DARK HOUSE SHOP Group started out as a small rental room in Zeer Rangsit 20 years ago with a capital of 200,000 baht. DARK HOUSE SHOP's business continues to grow through in-store sales and continues to expand, becoming a billion-dollar business with as many branches as possible. 150 Both in department stores and stand alone.

                            Until 7 years ago. When the direction of the market changes Consumers are increasingly turning to online shopping. At that time, Somyot became suspicious that IT products were expensive products. But finally, sales are proof that customers dare to buy IT products online. After DARK HOUSE SHOP developed the website to have a purchase button, the first month sales reached 800,000 baht. Neither has invested a lot. Compared to opening branches with an investment of 5-7 million baht per branch.

                            Since then, DARK HOUSE SHOP has taken it seriously online. Online sales over the past seven years were 5,200 million baht. In 2020, sales stood at 1,730 million baht. The proportion of online sales increased to 19.28%.

                        </p>
                    </div>

                </div>

                <div class="row">

                    <!-- Team item -->
                    <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                        <div class="team-item">

                            <div class="team-item-image">

                                <img src="~/images/profile/petch.jpg" />

                                <div class="team-item-detail">

                                    <h4 class="font-alt normal">Hello & Welcome!</h4>

                                    <p>
                                        Wachira Kaewsri 63080500250
                                    </p>

                                    <div class="team-social-links">
                                        <a href="https://www.facebook.com/wachira.pach/" target="_blank"><i class="fa fa-facebook"></i><span class="sr-only">Facebook profile</span></a>
                                    </div>

                                </div>
                            </div>

                            <div class="team-item-descr font-alt">

                                <div class="team-item-name">
                                    Petch Wachira
                                </div>

                                <div class="team-item-role">
                                    Developer
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End Team item -->
                    <!-- Team item -->
                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item">

                            <div class="team-item-image">

                                <img src="~/images/profile/logocompany.png" />


                            </div>

                            <div class="team-item-descr font-alt">

                                <div class="team-item-name">
                                </div>

                                <div class="team-item-role">
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End Team item -->
                    <!-- Team item -->
                    <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">

                            <div class="team-item-image">

                                <img src="~/images/profile/poy.jpg" />

                                <div class="team-item-detail">

                                    <h4 class="font-alt normal">Whats Up!</h4>

                                    <p>
                                        Sorravich Zaicome 63080500256
                                    </p>

                                    <div class="team-social-links">
                                        <a href="https://www.facebook.com/PoySorravich" target="_blank"><i class="fa fa-facebook"></i><span class="sr-only">Facebook profile</span></a>
                                    </div>

                                </div>
                            </div>

                            <div class="team-item-descr font-alt">

                                <div class="team-item-name">
                                    Poy Sorravich
                                </div>

                                <div class="team-item-role">
                                    Developer
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- End Team item -->

                </div>

                @*<!-- Features Grid -->
                <div class="row multi-columns-row alt-features-grid">

                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-flag"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We’re Creative</h3>
                            <div class="alt-features-descr align-left">
                                Lorem ipsum dolor sit amet, c-r adipiscing elit.
                                In maximus ligula semper metus pellentesque mattis.
                                Maecenas  volutpat, diam enim.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-clock"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We’re Punctual</h3>
                            <div class="alt-features-descr align-left">
                                Lorem ipsum dolor sit amet, c-r adipiscing elit.
                                In maximus ligula semper metus pellentesque mattis.
                                Maecenas  volutpat, diam enim.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->
                    <!-- Features Item -->
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="alt-features-item align-center">
                            <div class="alt-features-icon">
                                <span class="icon-hotairballoon"></span>
                            </div>
                            <h3 class="alt-features-title font-alt">We have magic</h3>
                            <div class="alt-features-descr align-left">
                                Lorem ipsum dolor sit amet, c-r adipiscing elit.
                                In maximus ligula semper metus pellentesque mattis.
                                Maecenas  volutpat, diam enim.
                            </div>
                        </div>
                    </div>
                    <!-- End Features Item -->

                </div>
                <!-- End Features Grid -->*@

            </div>
        </section>
        <!-- End About Section -->
        <!-- Section -->
        <section class="page-section">
            <div class="container relative">

                <div class="row">

                    <div class="col-md-7 mb-sm-40">

                        <!-- Gallery -->
                        <div class="work-full-media mt-0 white-shadow">
                            <ul class="clearlist work-full-slider owl-carousel">
                                <li>
                                    <img src="~/images/product/home03.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/product/home02.jpg" />
                                </li>
                                <li>
                                    <img src="~/images/product/home01.jpg" />
                                </li>
                            </ul>
                        </div>
                        <!-- End Gallery -->

                    </div>

                    <div class="col-md-5 col-lg-4 offset-lg-1">

                        <!-- About Project -->
                        <div class="text">
                            <center>
                                <h3 class="font-alt mb-30 mb-xxs-10">GOOD PRODUCTS</h3>
                            </center>
                            <p>
                                Beyond the gaming and multimedia segments, graphics cards have been increasingly used for general-purpose computing, such as big data processing.The growth of cryptocurrency has placed a severely high demand on high-end graphics cards, especially in large quantities, due to their advantages in the process of cryptocurrency mining.
                            </p>

                            <div class="mt-40">
                                <center>
                                    <a asp-controller="Image" asp-action="Index" class="btn btn-mod btn-border btn-round btn-medium" style="background-color:#3b087b; color:white;">BUY NOW</a>
                                </center>
                            </div>

                        </div>
                        <!-- End About Project -->

                    </div>
                </div>

            </div>
        </section>
        <!-- End Section -->
        </main>
        </body>
