@{
    ViewData["Title"] = "Home Page";
}

<!-- cookiealert styles -->
<link href="~/cookiealert/cookiealert.css" rel="stylesheet" />
<!-- Fullwidth Slider -->
<div class="home-section fullwidth-slider-fade bg-dark" id="home">

    <!-- Slide Item -->
    <section class="home-section bg-scroll bg-dark-alfa-50" data-background="/images/Homepage/banner6.jpg">

        <div class="js-height-full container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                    <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        DARK HOUSE SHOP
                    </h2>

                    <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        WELCOME TO VGA WORLD
                    </h1>

                    <div class="local-scroll">
                        <a asp-controller="Image" asp-action="Index" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                    </div>

                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->
    <!-- Slide Item -->
    <section class="home-section bg-scroll bg-dark-alfa-50" data-background="/images/Homepage/banner3.jpg">

        <div class="js-height-full container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        NVIDIA
                    </h1>

                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        GeForce RTX 4080 Series
                    </h2>

                    <div class="local-scroll">
                        <a asp-controller="Image" asp-action="Index" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                    </div>

                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->
    <!-- Slide Item -->
    <section class="home-section bg-scroll bg-dark-alfa-50" data-background="/images/Homepage/banner4.jpg">

        <div class="js-height-full container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        AMD
                    </h1>

                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        Radeon RX 6000 Series
                    </h2>

                    <div class="local-scroll">
                        <a asp-controller="Image" asp-action="Index" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                    </div>

                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->
    

</div>
<!-- End Fullwidth Slider -->
<!-- About Section -->
<section class="page-section">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            About DARK HOUSE SHOP 
        </h2>

        <div class="section-text mb-50 mb-sm-20">
            <div class="container">
                <p>
                    DARK HOUSE SHOP Group started out as a small rental room in Zeer Rangsit 20 years ago with a capital of 200,000 baht. DARK HOUSE SHOP's business continues to grow through in-store sales and continues to expand, becoming a billion-dollar business with as many branches as possible. 150 Both in department stores and stand alone.

                    Until 7 years ago. When the direction of the market changes Consumers are increasingly turning to online shopping. At that time, Somyot became suspicious that IT products were expensive products. But finally, sales are proof that customers dare to buy IT products online. After DARK HOUSE SHOP developed the website to have a purchase button, the first month sales reached 800,000 baht. Neither has invested a lot. Compared to opening branches with an investment of 5-7 million baht per branch.

                    Since then, DARK HOUSE SHOP has taken it seriously online. Online sales over the past seven years were 5,200 million baht. In 2020, sales stood at 1,730 million baht. The proportion of online sales increased to 19.28%.
                </p>
            </div>
        </div>
        <div >
                <a asp-controller="Home" asp-action="About" class="btn btn-mod btn-border btn-round btn-medium" style="background-color:#3b087b; color:white;">read more</a>
        </div>

    </div>
</section>
<!-- Divider -->
<hr class="mt-0 mb-0 " />
<!-- End Divider -->

<!-- End About Section -->
<!-- Section -->
<section class="page-section">
    <div class="container relative">

        <div class="row">

            <div class="col-md-7 mb-sm-40">

                <!-- Gallery -->
                <div class="work-full-media mt-0 white-shadow">
                    <ul class="clearlist work-full-slider owl-carousel">
                        <li>
                            <img src="~/images/product/home03.jpg" />
                        </li>
                        <li>
                            <img src="~/images/product/home02.jpg" />
                        </li>
                        <li>
                            <img src="~/images/product/home01.jpg" />
                        </li>
                    </ul>
                </div>
                <!-- End Gallery -->

            </div>

            <div class="col-md-5 col-lg-4 offset-lg-1">
                
                <!-- About Project -->
                <div class="text">
                    <center>
                    <h3 class="font-alt mb-30 mb-xxs-10">GOOD PRODUCTS</h3>
                    </center>
                    <p>
                        Beyond the gaming and multimedia segments, graphics cards have been increasingly used for general-purpose computing, such as big data processing.The growth of cryptocurrency has placed a severely high demand on high-end graphics cards, especially in large quantities, due to their advantages in the process of cryptocurrency mining.
                    </p>

                    <div class="mt-40">
                        <center>
                            <a asp-controller="Image" asp-action="Index" class="btn btn-mod btn-border btn-round btn-medium" style="background-color:#3b087b; color:white;">BUY NOW</a>
                        </center>
                    </div>

                </div>
                <!-- End About Project -->

            </div>
        </div>

    </div>
</section>
<!-- End Section -->
<!-- Divider -->
<hr class="mt-0 mb-0 " />
<!-- End Divider -->
<!-- Call Action Section -->
<section class="page-section">
<section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="/images/Homepage/contact4.jpg">

    <div class="container relative">

        <div class="row">

            <div class="col-sm-6">

                <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                    <div class="banner-content">
                        <h3 class="banner-heading font-alt">Looking for exclusive digital services?</h3>
                        <div class="banner-decription">
                            If you have a question or want some more support.
                            We have an exclusive digital service that can help you with anything!
                        </div>
                        <div class="local-scroll">
                                <a asp-controller="Home" asp-action="Contact" class="btn btn-mod btn-border btn-round btn-medium"  style="background-color:#3b087b; color:white; border-color:white;">LET'S TALK</a>
                            </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 banner-image wow fadeInUp">
                 <img src="~/images/homepage/promo1.png" />
            </div>

        </div>

    </div>

</section>
</section>
<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">

        <center>
            <h2 class="section-title font-alt mb-70 mb-sm-40" style="font-weight:bold;">
                FIND US
            </h2>
        </center>

        <div class="row mb-60 mb-xs-40">

            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="row">

                    <!-- Phone -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Call Us
                            </div>
                            <div class="ci-text">
                                +61 9 9999 9999
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->
                    <!-- Address -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Address
                            </div>
                            <div class="ci-text">
                                King Mongkut's University of Technology Thonburi
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->
                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Email
                            </div>
                            <div class="ci-text">
                                support@bestlooker.pro
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->

                </div>
            </div>

        </div>

    </div>
</section>
<!-- End About Section -->
<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        I agree
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->
<!-- JAVASCRIPT -->
<!-- Only for the demo -->
<script>
    for (var i = 1; i <= 150; i++)
        document.querySelector("#fillme").innerHTML += "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ";
</script>

<!-- Include cookiealert script -->
<script src="~/cookiealert/cookiealert.js"></script>