@{
    ViewData["Title"] = "Home Page";
}

<!-- Fullwidth Slider -->
<div class="home-section fullwidth-slider-fade bg-dark" id="home">

    <!-- Slide Item -->
    <section class="home-section bg-scroll bg-dark-alfa-50" data-background="images/homebanner/home_1.jpg">

        <div class="js-height-full container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        Chevrolet
                    </h1>

                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        Corvette Stringray C8
                    </h2>

                    <div class="local-scroll">
                        <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                    </div>

                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->
    <!-- Slide Item -->
    <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/car/wp8112164-audi-r8-v10-plus-wallpapers.jpg">

        <div class="js-height-full container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        Audi
                    </h1>

                    <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        r8 coupe v10 plus
                    </h2>

                    <div class="local-scroll">
                        <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                    </div>

                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->
    <!-- Slide Item -->
    <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/car/nissan.jpg">

        <div class="js-height-full container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">

                    <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                        Nissan
                    </h2>

                    <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                        GT-R Nismo
                    </h1>

                    <div class="local-scroll">
                        <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                    </div>

                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Slide Item -->

</div>
<!-- End Fullwidth Slider -->
